<div class="flex mt-10 mx-auto w-4/6 md:space-x-20">
	<div class="w-72 hidden md:block">
		<img alt="roman-soldier" src="/signup.png"/>
	</div>
	<div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-slate-800 border-slate-700">
		<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
			<h1 class="text-xl font-bold leading-tight tracking-tight text-slate-200 md:text-2xl">
				Sign up for a new account
			</h1>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>
				<div class="space-y-4 md:space-y-6">
					<div class="field">
						<%= f.label :email, class: 'block mb-2 text-sm font-medium text-white' %>
						<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-slate-700 border-slate-600 placeholder-slate-400 text-white focus:ring-blue-500 focus:border-blue-500' %>
					</div>
					
					<div class="field">
						<%= f.label :password, "Password (#{@minimum_password_length} characters minimum)", class: 'block mb-2 text-sm font-medium text-white' %>
						
						<%= f.password_field :password, autocomplete: "current-password", class: 'border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-slate-700 border-slate-600 placeholder-slate-400 text-white focus:ring-blue-500 focus:border-blue-500', placeholder: '••••••••' %>
					</div>
					
					<div class="field">
						<%= f.label :password_confirmation, class: 'block mb-2 text-sm font-medium text-white' %>
						<%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-slate-700 border-slate-600 placeholder-slate-400 text-white focus:ring-blue-500 focus:border-blue-500' %>
					</div>

					<div class="actions">
						<%= f.submit "Sign up", class: 'w-full text-white hover:bg-blue-700 focus:ring-4 focus:outline-none cursor-pointer focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800' %>
					</div>
				</div>
			<% end %>

			<div>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>
