<%= turbo_frame_tag "post_#{@post.id}_comments", target: "_top" do %>
	<div class="mt-6 md:mt-10 w-11/12 md:w-7/12 mx-auto p-6">
    <h2 class="text-xl md:text-2xl font-bold text-slate-200">
			Discussions
		</h2>
		<div class="md:mt-6 mt-3">
			<%= turbo_frame_tag "comments" do %>
				<%= render @comments %>
			<% end %>
		</div>
		<div class="max-w-2xl mx-auto px-4">
			<%= turbo_frame_tag "new_comment" do %>
				<%= render "form" %>
			<% end %>
		</div>
<% end %>
